<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ADD EMPLOYEE FORM</h1>
    <form action="" method="post">
        {% csrf_token %}

        <label for="">Name</label>
        <input type="text" name="username"> <br> <br>

        <label for="">Role</label>
        <input type="text" name="userrole"> <br> <br>

        <label for="">Place</label>
        <input type="text" name="userplace"> <br> <br>


        <label for="">Salary</label>
        <input type="text" name="usersalary"> <br> <br> <br>

        <button type="submit">ADD EMPLOYEE</button>

    </form>
</body>
</html>